.banderoleCPNV{
    background-color: transparent;
    height: 120px;
    width: auto;
    margin: 0.5%;
}


.headerBackground{
    background-color: lightgray;
    margin-left: auto;

    border-radius:6px;

}
.bodyBackground{
    background-color: lightgray;
    margin-left: auto;
    border-radius:6px;
    width: 100%;

}

.bodyBackground1New{
    position: center;
    background-color: gray;

    border-radius:6px;
    width: 90%;
    margin-left: 3%;
    margin-right: 10%;

    height: 370px;

}



div.bodyBackground1{
    position: page;
    background-color: gray;

    border-radius:6px;
    width: 100%;
    margin-left: 3%;
    margin-right: 10%;

    height: 370px;
}


FORM.ol {counter-reset: repas;} /* on initialise et nomme un compteur */

.listeDetails2 {
    list-style-type: none;
    counter-increment: repas; /* on incrémente le compteur à chaque nouveau li */
    margin-bottom: 10px;
}
.listeDetails {
    padding :4px;
    margin-left: 5%;
    vertical-align: top;
    background: #222221;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    color: white;
}



.header{
    background-color: rgba(34, 34, 33, 0.85);
    border-radius:6px;
    margin-left: auto;
    margin-right: auto;
}

#photoPersonne{
    position: center;
    clear:right;
    border:1px solid #ee1eb5;
    margin-top: 3%;
    border-radius:6px;
    height: auto;
    width: 350px;
    margin-right: 5%;
}


.liste{
    position: relative;
    margin-bottom: 10px;
    float: right;
}
.ButtonMenu {
    box-shadow:inset 0px 1px 0px 0px #77b2ff;
    background:linear-gradient(to bottom, #6297ff 5%, #4355ee 100%);
    background-color: #77b2ff;
    border-radius:6px;
    border:1px solid #000000;
    margin-left: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Arial;
    font-size: 15px;
    font-weight:bold;
    padding:15px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #23005b;
}

.ButtonMenu2 {
    box-shadow:inset 0px 1px 0px 0px #7dabdb;
    background:linear-gradient(to bottom, #77b2ff 5%, #7dabdb 100%);
    background-color: #7dabdb;
    border-radius:6px;
    border:1px solid #23005b;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family:Arial;
    margin-left: 1%;
    font-size:15px;
    font-weight:bold;
    padding:15px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #6297ff;
}
.ButtonMenu:hover {
    background:linear-gradient(to bottom, #23005b 5%, #781bee 100%);
    background-color: #a059ff;
}
.ButtonMenu:active {
    position:relative;
    top:1px;
}
.ButtonMenu2:hover {
    background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
    background-color:#ef027d;
}
.ButtonMenu2:active {
    position:relative;
    top:1px;
}


.cffButton2 {
    box-shadow:inset 0px 0px 0px 0px black;
    background:linear-gradient(to bottom,darkred 100%);
    background-color:red;
    border-radius:6px;
    border:3px solid black;

    cursor:pointer;
    color:white;
    font-family:Arial;

    font-size:10px;
    font-weight:bold;
    padding:10px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px black;
}

.buton{

}
.cffButton {
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    background-color:#fe1a00;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    margin-left:30%;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}

.cffButton:hover {
    background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    background-color:#ce0100;
}

.cffButton:active {
    position:relative;
    top:1px;
}


.title{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.title1 {
    background-color: #686867;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;

}

.titlelv1{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-left: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.tableDetail{
    width: 100%;
    margin-left: 5%;
    position: sticky;
}
.footer {
    position: fixed;
    left: 5px;
    bottom: 0;
    width: 50%;
    background-color: grey;
    color: white;
    text-align: center;
    margin-left: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins', sans-serif;
}

.search-text{
    border-radius: 6px;
    background-color:#7dabdb;
    padding-top:11px;
    margin-top: 5px;
    padding-bottom:5px;
}

.search-text .input-search{
    height:20px;
    width:200px;
    padding-left:20px;
    color:#333;
}

.search-text .btn-search{
    background-color: #7dabdb;
    border:2px solid #FFF;
    color:#FFF;
    margin-top: 5px;
    padding: 11px 15px;
}

.search-text  .btn-search:hover{
    background-color:#FFF;

    color:#7dabdb;
}

.copyright{
    border-radius: 6px;
    background-color:#f0f0f0;
    margin-bottom: 5px;
    font-size: 12px;
}

.copyright p{
    margin:5px ;
}

footer{

    margin-inside :2px;
    background-color: #222222;
    padding: 1px 5px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}

footer .menu li a{
    color:#b1aca1;
    padding:5px;
    text-decoration:none;
}
<!--
footer .menu li a:hover{
    display: flex;
    position: relative;
    margin-left: 10px;

    color:#7dabdb;
}

.fa.fa-facebook ,
.fa.fa-dropbox,
.fa.fa-flickr ,
.fa.fa-github ,
.fa.fa-linkedin ,
.fa,fa-tumblr ,
.fa.fa-google-plus ,
.fa.fa-tumblr {
    color:#b1aca1;
    font-size:20px;
    padding:5px;
}

.fa.fa-facebook:hover,
.fa.fa-dropbox:hover,
.fa.fa-flickr:hover,
.fa.fa-github:hover,
.fa.fa-linkedin:hover,
.fa,fa-tumblr:hover,
.fa.fa-google-plus:hover,
.fa.fa-tumblr:hover {
    color:#6794c2;
}
.footerList2 li {
    margin-left: 500px;
}