
body {
    font: 1em sans-serif;
    padding: 0;
    margin : 0;
}

form {
    max-width: 300px;
    margin: 0;
    padding: 0 5px;
}

p > label {
    display: block;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
fieldset {
    /* requis pour composer de manière appropriée les éléments
    de formulaire sur les navigateurs fondés sur WebKit */
    -webkit-appearance: none;

    width : 100%;
    border: 1px solid #333;
    margin: 0;

    font-family: inherit;
    font-size: 90%;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    outline: none;
}