#img1{
    height: 35px;
    width: 50px;
}
#img3{
    height: 35px;
    width: 50px;

}
#img2{

    right:0;
    bottom:0;
    display: none;
}
#img4{

margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 500px;
    display: none;
}
#img5{
    margin-left: auto;
    margin-right: auto;
    bottom:0;
    height: 350px;
    width: 500px;
    display: none;
}
#img6{
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 500px;
    display: none;
}
#img7{
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 500px;
    display: none;
}
#img8{
    margin-left: auto;
    margin-right: auto;
    display: initial;
    visibility: visible;
    height: 350px;
    width: 500px;
}
#hiddenImage{
    display: none;
    visibility: hidden;
}

#lightblue{
    background-color: lightblue;
}

#grey{
    background-color: grey;
}
#darkgrey{
    background-color: darkslategrey;
}
#darkgrey2{
    background-color: darkslateblue;
}
#list{
    background-color: darkslategrey;
    width: 200px;


}



