#img1{
    height: 35px;
    width: 50px;
}
#img3{
    height: 35px;
    width: 50px;

}
#img2{

    right:0;
    bottom:0;
    display: none;
}
#img4{

    bottom:0;
    height: 350px;
    width: 500px;
    display: none;
}
#img5{
    bottom:0;
    height: 350px;
    width: 500px;
    display: none;
}
#img6{
    height: 350px;
    width: 500px;
    display: none;
}
#img7{
    height: 350px;
    width: 500px;
    display: none;
}
#img8{
    display: initial;
    visibility: visible;
    height: 350px;
    width: 500px;
}
#hiddenImage{
    display: none;
    visibility: hidden;
}


